<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div class="alert alert-dark d-flex align-items-center justify-content-between" role="alert">
        {{#if username}}
        <a class="btn btn-secondary" href="/products/">Products</a>
        <a class="btn btn-secondary" href="/chat/">Group Chat</a>
        <a class="btn btn-secondary" href="/cart">Cart</a>
        <a class="btn btn-secondary" href="/profile">Profile</a>
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-secondary">Log out</button>
        </form>
        {{else}}
        <div class="alert mt-4 d-flex align-items-center justify-content-end" role="alert">
            <a class="btn btn-secondary" href="/login">Login</a>
        </div>
        {{/if}}
    </div>
    {{#if username}}
    <div class="alert alert-dark mb-5 d-flex align-items-center justify-content-between" role="alert">
        Welcome {{username}}!
    </div>
    {{/if}}
    <div class="bd-example bg-light mt-5 p-5 shadow rounded w-50 mx-auto">
        <h5>Agregar los datos de producto</h5>
        <br>
        <form id="form-product">
            <div class="form-group">
                <label>Name</label>
                <input id="name" type="text" class="form-control" name="title" placeholder="Add Title" required>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input id="price" type="number" class="form-control" name="price" placeholder="Add Price" required>
            </div>
            <div class="form-group">
                <label>Category</label>
                <input id="category" type="text" class="form-control" name="category" placeholder="Add Category" required>
            </div>
            <div class="form-group">
                <label>Thumbnail</label>
                <input id="photo" type="text" class="form-control" name="thumbnail" placeholder="Add Thumbnail"
                    required>
            </div>

            <br>
            <button id="submit" type="submit" class="btn btn-primary">Agregar Producto</button>
        </form>

    </div>
    <br><br><br>
    {{> productTable}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/products/ProductMain.js"></script>
</body>

</html>