<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío 5 Handlebars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div class="alert alert-dark d-flex align-items-center justify-content-between" role="alert">
        {{#if username}}
        <a class="btn btn-secondary" href="/products/">Products</a>
        <a class="btn btn-secondary" href="/chat/">Group Chat</a>
        <a class="btn btn-secondary" href="/cart">Cart</a>
        <a class="btn btn-secondary" href="/profile">Profile</a>
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-secondary">Log out</button>
        </form>
        {{else}}
        <div class="alert mt-4 d-flex align-items-center justify-content-end" role="alert">
            <a class="btn btn-secondary" href="/login">Login</a>
        </div>
        {{/if}}
    </div>
    {{#if username}}
    <div class="alert alert-dark mb-5 d-flex align-items-center justify-content-between" role="alert">
        Welcome {{username}}!
    </div>
    {{/if}}
    {{{body}}}
</body>

</html>